* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
}

header,
nav,
.presentation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 15%;
}

.fond {
    width: 100%;
    background-image: url("img/fond/fond-bas.png");
    background-position: bottom right 0;
}

header {
    width: 100%;
    background-size: 20%;
    padding: 30%;
    position: relative;
    margin: 0 auto;
    background-image: url("img/fond/fond-haut.png");
    background-position: top left 0;
    background-repeat: no-repeat;
}

.titre {
    background-size: 40%;
    background-image: url("img/fond/fond-bas.png");
    background-position: bottom right 0;
    position: absolute;
    background-repeat: no-repeat;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

#cv {
    margin: 0 auto;
    width: 50%;
}

h1,
h2,
h3,
a {
    color: #2566A4;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5%;
}

p {
    text-align: center;
    font-size: 12px;
}

.cache {
    visibility: hidden;
}

.afficher {
    visibility: visible;
}

.cacher {
    display: none;
}

.affiche {
    display: block;
}

nav {
    visibility: hidden;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    background-image: none;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 0;
}

a {
    text-decoration: none;
}

.fas {
    color: #2566A4;
}

.menuBurger {
    position: absolute;
    top: 10px;
    right: 30px;
}

.menuBurger>button {
    display: block;
    border: none;
    background-color: #FFFF;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.presentation {
    padding: 5%;
}

.presentation>p {
    text-align: center;
    margin: 5px;
    position: relative;
}

img {
    width: 100%;
}

.Artcolombbus,
.ArtMissions,
#contenus-lexique {
    margin: 0 auto;
    border: solid 1px #D8DBE3;
    border-radius: 20px;
    width: 50%;
    padding: 3%;
    background-color: #ECF0F3;
    margin-bottom: 5%;
    box-shadow: inset 2px 2px 0 0 #b6bac0e8, inset -2px -2px 0 0 #FFFF;
}

#contenus-lexique>p {
    text-align: left;
    margin: 2%;
}

#contenus-lexique,
.diplomes {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

.diplomes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    padding: 5%;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

figure {
    overflow: hidden;
}

.img-diplomes:hover {
    transition: ease-in 1s;
    transform: scale(2);
}

.realisations {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    text-align: center;
    margin: 5px;
}

figure {
    width: 40%;
    margin-bottom: 3%;
}

figcaption {
    font-size: 12px;
}

.github {
    text-align: center;
}

.lien-github>img {
    width: 20%;
}

.conteneurForm>section,
p,
input,
textarea {
    margin: 5%;
}

form,
.champs,
.btnContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

input,
textarea {
    border-radius: 15px;
    background-color: #ECF0F3;
    border-color: #B6B2B9;
    border: 2px solid #B6B2B9;
    box-shadow: 2px 2px 0 0 #9AA7B2;
    padding: 5%;
}

.btnContact {
    text-align: center;
    padding: 3%;
    width: 40%;
}

#fermerCv {
    position: absolute;
    z-index: 1;
    top: 70%;
    right: 5%;
    background-color: rgba(58, 58, 58, 0.87);
    border: none;
    color: #2566A4;
    font-size: 1em;
}

object {
    width: 90%;
    height: 50%;
    margin: 0 auto;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.cacher {
    display: none;
}

.affiche {
    display: block;
}

.scroll-top {
    position: absolute;
    bottom: 0;
    right: 10%;
    margin-bottom: 4%;
}

#btn-scroll {
    position: fixed;
    bottom: 1%;
    font-size: 30px;
}

@media screen and (min-width: 600px) {
    header {
        width: 100%;
        margin: 0 auto;
    }

    h1 {
        font-size: 40px;
    }

    .fas {
        font-size: 25px;
    }

    #fermerCv {
        right: 6vh;
    }

    .scroll-top {
        right: 5%;
    }
}

@media screen and (min-width: 900px) {
    header {
        width: 100%;
        margin: 0 auto;
        padding: 28%;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 14px;
    }

    .fas {
        font-size: 25px;
    }

    nav {
        position: absolute;
        left: 10%;
        top: 15%;
        flex-direction: row;
        justify-content: center;
        visibility: visible !important;
        font-size: 20px;
    }

    .menuBurger {
        display: none;
    }

    object {
        width: 80%;
        height: 100%;
        transform: translate(-50%, 50%);
    }

    #cv {
        width: 40%;
    }

    #fermerCv {
        top: 120vh;
        right: 20.5vh;
    }

    .Artcolombbus,
    .ArtMissions {
        width: 30%;
    }

    .contenus_missions {
        display: flex;
        flex-direction: row;
    }

    figure>img {
        width: 80%;
    }

    .diplomes {
        gap: 1%;
    }

    .diplomes>figcaption {
        text-align: left;
    }

    .realisations>figure>img {
        width: 60%;
    }

    .lien-github>img {
        width: 10%;
    }

    form {
        width: 40%;
    }

    .nonValide {
        color: red;
    }

    .valide {
        color: green;
    }

    .scroll-top {
        right: 5%;
    }

    #btn-scroll>.fas {
        font-size: 50px;
    }
}