*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0 auto;
}
header, nav, .presentation{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 15%;
}
header{
    width: 100%;
    background-image: url("img/fond/fond.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 60%;
    position: relative;
    margin: 0 auto;
}
.titre{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}
h1,h2,h3,a{
    color: #2566A4;
}
h1,h2,h3{
    font-weight: bold;
    text-align: center;
    margin-bottom: 5%;
}
.cache{
    visibility: hidden;
}
.afficher{
    visibility: visible;
}
nav{
    visibility: hidden;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    background-image: none;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 0;
}
a{
    text-decoration: none;
}
.fas{
    color:#2566A4;
}
.menuBurger{
    position: absolute;
    top: 10px;
    right: 30px;
}
.menuBurger>button{
    display: block;
    border:none;
    background-color: #FFFF;
}
main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.presentation>p{
    text-align: left;
    margin: 5px;
    position: relative;
}
img{
    width: 100%;
}
.Artcolombbus, .ArtMissions{
    margin: 0 auto;
    border:solid 1px #D8DBE3;
    border-radius: 20px;
    width: 50%;
    padding: 3%;
    background-color: #ECF0F3;
    margin-bottom: 5%;
    box-shadow: inset 2px 2px 0 0 #b6bac0e8,inset -2px -2px 0 0 #FFFF;
}
.diplomes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:5%;
    padding: 5%;
}
.realisations{
    display: flex;
    flex-direction: row;
    gap:5%;
    justify-content: center;
    text-align: center;
    margin: 5px;
}
figure{
    width: 40%;
    margin-bottom: 3%;
}
figcaption{
    font-size: 12px;
    text-align: center;
}
.github{
    text-align: center;
}
.github>img{
    width: 20%;
}
.conteneurForm>section, p, input, textarea{
    margin: 5%;
}
form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}
input, textarea{
    border-radius: 15px;
    box-shadow: 2px 2px 0 0 #9AA7B2;
    border: 2px solid #B6B2B9;
    padding: 5%;
    background-color: #ECF0F3;
    border-color: #B6B2B9;
}
.btnContact{
    padding: 3%;
    width: 30%;
}
#fermerCv{
    position: absolute;
    z-index: 1;
    top: 70%;
    right: 5%;
    background-color: rgba(58, 58, 58, 0.87);
    border: none;
    color: #2566A4;
    font-size: 1em;
}
object{
    width: 90%;
    height: 50%; 
    margin: 0 auto;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}
.cacher{
    display: none;
}
.affiche{
    display: block;
}

@media screen and (min-width: 600px) {
    header{
        width: 100%;
        margin: 0 auto;
    }
    h1{
        font-size: 40px;
    }
    .fas{
        font-size: 25px;
    }
    #fermerCv{
        right: 6vh;
    }
}

@media screen and (min-width: 900px) {
    header{
        width: 100%;
        margin: 0 auto;
    }
    h1{
        font-size: 40px;
    }
    .fas{
        font-size: 25px;
    }
    nav{
        position: absolute;
        left: 10%;
        top: 15%;
        flex-direction: row;
        justify-content: center;
        visibility: visible !important;
        font-size: 25px;
    }
    .menuBurger{
        display: none;
    }
    object{
        width: 80%;
        height: 100%;
        transform: translate(-50%, 50%);
    }
    #fermerCv{
      top : 950px;
      right: 19vh;
    }
    .Artcolombbus,  .ArtMissions{
        width: 30%;
    }
    .contenus_missions{
        display: flex;
        flex-direction: row;
    }
}